.cart-count-icon{
    font-size: 10px;
    border: 1px solid rgb(238, 156, 0);
    border-radius: 100%;
    padding: 2px 5px;
    background-color: #ee9c00;
    color: white;
    font-weight: 700;
}

/* @media screen and (max-width: 360px) {
    .cart-count-icon{
        position: absolute;
        top: -8px;
        left: 30px;
    }
  }

  @media screen and ( max-width: 400px ) {
    .cart-count-icon{
        position: absolute;
        top: -8px;
        left: 38px;
    }
  }
  @media screen and (max-width: 450px) {
    .cart-count-icon{
        position: absolute;
        top: -8px;
        left: 45px;
    }
  }
  @media screen and ( max-width: 500px) {
    .cart-count-icon{
        position: absolute;
        top: -8px;
        left: 50px;
    }
  } */